html {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--lightBg);

  --lightBtn: rgb(33, 54, 61);
  --lightBg: #fff;
  --lightColor: #4b2e2e;
}

html[data-theme="dark"] {
  background: var(--lightBg);
  --lightBtn: #9b7b24;
  --lightBg: #232323;
  --lightColor: #fff;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;

  width: 50px;
  height: 30px;
  background: var(--lightBtn);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  background: #fff;
  float: right;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}

input:checked + label {
  background: #ffbd07;
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
  transition-delay: 0 !important;
}

body {
  font-family: arial, sans-serif;
}

h1 {
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 100;
  line-height: 20px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: uppercase;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.the-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 5px;
  background: #d9f6fe;
}
.wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.weather {
  margin-bottom: 20px;
}

.temp img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}

.temp strong {
  color: aquamarine;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  margin-right: 0;
}
.temp .weather-units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.temp .focus {
  color: black;
  cursor: default;
  text-decoration: none;
}

.temp .pointer {
  color: blue;
  cursor: default;
  text-decoration: none;
}

.temp .focus:active {
  color: rgb(255, 0, 0);
  outline: none;
}

.temp .pointer:active {
  color: rgb(255, 0, 0);
  outline: none;
}
